.league-selector {
  div{
    width: 30%;
  }
  .cupPic {
    width:300px;
    height:228px;
    background: url(http://vignette2.wikia.nocookie.net/pottermore/images/d/dc/House_Cup.png/revision/latest/scale-to-width-down/270?cb=20130903183938);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    display: block;
    // border: red 1px dotted;

  }

}
