.teamSelector{
  width: 49.5%;
  height: 500px;
  border: blue 1px solid;
  margin-top: 10px;
  &.home{
    float: left;
  }
  &.away{
    float: right;
  }
  select{
    width: 100%;
  }
  .bannerhalf {
    width: 50%;
    height: 96%;
    &.left{
      float: left;
    }
    &.right{
      float: right;
    }
  }
}
.teamLayout {
  span {
    background-color: #fff;
    position: absolute;
    border: 1px green dotted;
    width: 75px;
    height: 75px;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    &.loaded{
      // background-image: url(http://www.kosilenamiru.cz/cardskins/bs.kosilenamiru2/img/customer.png);
      background-size: contain;
    }
  }
  #keeper{
    top: 140px;
    margin-left: -39px;
  }
  #seeker, #chaser1 {
    top: 270px;
    margin-left: -39px;
  }
  #beater1, #chaser2 {
    top: 270px;
    margin-left: -145px;
  }
  #beater2, #chaser3 {
    top: 270px;
    margin-left: 58px;
  }
  #chaser1, #chaser2, #chaser3{
    top: 370px;
  }
}
.j_run_game{
  width: 100%;
  background-color: lightgreen;
  font-size: large;
}
