{% extends "layout.html" %}

{% block head %}
  <title> {{ pageTitle }} </title>
  {% for s in styles %}
    <!-- <link rel="stylesheet" type="text/css" href="static/test.css"></link> -->
    <link rel="stylesheet" type="text/css" href="{{s}}"></link>
  {% endfor %}
{% endblock %}

{% block header %}
  <header>
    <div id="top-bar"> <h1>Q - simulator</h1> </div>
    <div id="nav">
      <ul>
        <!-- <li>Hogwarts House cup</li> -->
        <!-- <li>Tri Quiditich cup</li> -->
        <!-- <li>International Quditich Leage</li> -->
      </ul>
    </div>
</header>
{% endblock %}

{% block content %}
  <div class="content">
    <h3>select your league</h3>
    <div class="league-selector" >
      <div class="hogwarts">
        <span class="cupPic">
        </span>
        <h5>Hogwarts House cup</h5>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <footer>

    <div class="script">
      {% for s in scripts %}
        <script src="{{s}}"></script>
      {% endfor %}
    </div>
  </footer>
{% endblock %}
