{% extends "layout.html" %}

{% block head %}
  <title> {{ pageTitle }} </title>
  {% for s in styles %}
    <!-- <link rel="stylesheet" type="text/css" href="static/test.css"></link> -->
    <link rel="stylesheet" type="text/css" href="{{s}}"></link>
  {% endfor %}
{% endblock %}

{% block header %}
  <header>
    <div id="top-bar"> <h1>Q - simulator</h1> </div>
    <div id="nav">
      <ul>
        <!-- <li>Hogwarts House cup</li> -->
        <!-- <li>Tri Quiditich cup</li> -->
        <!-- <li>International Quditich Leage</li> -->
      </ul>
    </div>
</header>
{% endblock %}

{% block content %}
  <div class="content">
    <!-- hidden inputs for the raw team input to pass -->
    <!-- <input name="home" type="hidden" value="" /> -->
    <input name="away" type="hidden" value="" />
    <div class="teamSelector home">
      <select id="homeTeam" class="home">
        <option value="" disabled="true" selected="true">select team</option>
        {% for e in teams %}
          <option value="{{e}}">{{e}}</option>
        {% endfor %}
      </select>
      <input name="home" type="hidden" value="" >
      <div class="left bannerhalf"></div>
      <div class="right bannerhalf"></div>
      <div class="teamLayout">
        <!-- <span id="keeper"></span>
        <span id="seeker"></span>
        <span id="beater1"></span>
        <span id="beater2"></span>
        <span id="chaser1"></span>
        <span id="chaser2"></span>
        <span id="chaser3"></span> -->
      </div>
    </div>
    <div class="teamSelector away">
      <input name="away" type="hidden" value="" />
      <select id="awayTeam" class="away">
        <option value="" disabled="true" selected="true">select team</option>
          {% for e in teams %}
          <option value="{{e}}">{{e}}</option>
          {% endfor %}
        </select>
        <div class="left bannerhalf"></div>
        <div class="right bannerhalf"></div>
        <div class="teamLayout">
          <!-- <span id="keeper"></span>
          <span id="seeker"></span>
          <span id="beater1"></span>
          <span id="beater2"></span>
          <span id="chaser1"></span>
          <span id="chaser2"></span>
          <span id="chaser3"></span> -->
    </div>
  </div>
  <button class="j_run_game" disabled="true">Run Game</button>
{% endblock %}

{% block footer %}
  <footer>

    <div class="script">
      {% for s in scripts %}
        <script src="{{s}}"></script>
      {% endfor %}
    </div>
  </footer>
{% endblock %}
